.customer-badge {
    border-radius: 2px;
    padding: .25em .5em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.status-New {
        background-color: #ff6633;
        color: #fff;
        font-size: large;
    }

    &.status-InProgress {
        background-color: #ffcc00;
        font-size: large;
        color: #fff;
    }

    &.status-Resolved {
        background-color: #669933;
        font-size: large;
        color: #fff;
    }

    &.status-Reopened {
        background-color: #ff0000;
        font-size: large;
        color: #fff;
    }

    &.status-Closed {
        background-color: #6699cc;
        font-size: large;
        color: #fff;
    }
}
.button{
    margin-left: 10px;
}
.contant-body{
    background-color: #f8f9fa;
}
.textarea{
    width: 100%;
}
.contant{
    background-color: #f8f9fa;
}
.date{
text-align: right;
}
.ticketNum{
font-size: x-large;
}