.customer-badge {
    border-radius: 2px;
    padding: .25em .5em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.status-New {
        background-color: #ff6633;
        color: #fff;
        font-size: large;
    }

    &.status-InProgress {
        background-color: #ffcc00;
        font-size: large;
        color: #fff;
    }

    &.status-Resolved {
        background-color: #669933;
        font-size: large;
        color: #fff;
    }

    &.status-Reopened {
        background-color: #ff0000;
        font-size: large;
        color: #fff;
    }

    &.status-Reassign {
        background-color: #000080;
        font-size: large;
        color: #fff;
    }

    &.status-Closed {
        background-color: #6699cc;
        font-size: large;
        color: #fff;
    }
}
.ticketNum-badge{
    background-color: #6699cc;
    font-size: large;
    color: #fff;
    padding: 10px;
}
.tableview{
    width: 100%;
    margin: 20px;
}
.tableview tr > td {
    padding-top: 40px;
}
.custom-select{
    width: 50%;
}
.textarea{
    width: 50%;
}
.header{
    width: 100%;
}
.header-button{
    text-align: right;
}
.button{
margin-left: 20px;
}