<div class="content-section implementation">
    <!-- <p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
        <h1 style="font-weight:normal">Left Sidebar</h1>
        <button pButton type="button" (click)="visibleSidebar1 = false" label="Save" class="ui-button-success"></button>
        <button pButton type="button" (click)="visibleSidebar1 = false" label="Cancel" class="ui-button-secondary"></button>
    </p-sidebar> -->

    <!-- <button pButton type="button" (click)="visibleSidebar1 = true" icon="pi pi-arrow-right"></button> -->
    <button pButton type="button" icon="pi pi-plus" label="Create" class="ui-button-rounded"></button>
    <!-- <button type="button" (click)="showDialog()" pButton icon="pi pi-info-circle" label="Show"></button> -->

</div>
<div>
    <p-dialog header="Title" [(visible)]="display">
        Content
    </p-dialog>
</div>