<div class="fixed-top">
    <!-- <p-toolbar>
        <div class="ui-toolbar-group-left">
            <a class="navbar-brand" href="#">Navbar</a>

        </div>
        <div>
        </div>
        <div class="ui-toolbar-group-right">
            <input class="form-control" formControlName="search" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            <button pButton type="button" label="Resolved" class="ui-button-success"></button>
            <button pButton type="button" label="Reopen" class="ui-button-danger"></button>
        </div>
    </p-toolbar> -->
    <nav class="navbar fixed-top">
        <a class="navbar-brand" href="#">Bug Report Tool</a>
        <form [formGroup]="form">
            <div class="form-group row">

                <div class="col-sm-8">
                    <input class="form-control" formControlName="search" type="search" placeholder="Search"
                        aria-label="Search">
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </div>
            </div>
        </form>
    </nav>
</div>