.ui-button-warning{
  margin-left: 5px;
}
.ui-button-success{
  margin-left: 5px;
}
.ui-button-danger{
  margin-left: 5px;
}
/* .fixed-top{ */
  /* margin-top: 10%; */
  /* height: 10%; */
  /* position: fixed; */
/* } */
.navbar{
  height: 10%;
  background-color: #e3f2fd;
  text-align: center;
}
.ticket{
  background-color: #6699cc;
}
.select{
  background-color: #cc3300;
  color: black;
}