.ui-button-warning{
  margin-left: 5px;
}
.ui-button-success{
  margin-left: 5px;
}
.ui-button-danger{
  margin-left: 5px;
}
/* .fixed-top{ */
  /* margin-top: 10%; */
  /* height: 10%; */
  /* position: fixed; */
/* } */
.navbar{
  /* background-color: #e3f2fd; */
  background-color: #0075BB;
  height: 10%;
}
.ticket{
  background-color: #6699cc;
}
.select{
  background-color: #cc3300;
  color: black;
}
.header{
  background-color: #0075BB;
}
.navbar img {
  float: left;
  height: 90%;
  margin: 5px;
}

.navbar h4 {
  /* position: relative; */
  /* top: 18px; */
  color: white;
  text-align: center;
  font-family: 'museo-sans-rounded, sans-serif';
}