.ui-button-warning{
  margin-left: 5px;
}
.ui-button-success{
  margin-left: 5px;
}
.ui-button-danger{
  margin-left: 5px;
}
.fixed-top{
  min-height: 70px;
  width: 100%;
  position: fixed;
}
.navbar{
  background-color: #e3f2fd;
}
.ticket{
  background-color: #6699cc;
}
.select{
  background-color: #cc3300;
  color: black;
}